body {
  background: #ffd7bb;
}

.timer {
  color: #B2754A;
}

.timer > h1 {
  font-size: 175pt;
  margin-bottom: 0;
  font-weight: 500;
}

.btn-group > button {
  margin-left: 10px;
  margin-right: 10px;
}

button {
  border-radius: 5px;
  font-size: 20pt;
  padding: 20px;
  border: 4px solid #B2754A;
  background: none;
  color: #B2754A;
  font-weight: 500;
  opacity: .6;
}
